/* You can add global styles to this file, and also import other style files */

.container{
    text-align: center;
    border: 1px solid black;
    padding: 0.5em;
}

.wrapper{
    text-align: center;
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
}

button{
    border-radius: 10px;
}